body{
    background-color:#dee2e6;
  
}

 table.dataTable thead {
   background: #0d6efd;
    color:white;
    white-space: 100%;
}


.caja{
  /* border: 1px solid; */
  padding: 5px;
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
}

.card-text{
  text-align: justify;
  align-content: justify;
}

.imageDashboard{
  width: 10px; 
  height: 10px;
  align-items: center;
  
}

/*Para evitar los botones sumadores en los imput numericos*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
